.swiper-button-next,
.swiper-button-prev {
  color: #c0afaf; /* Cambia el color de las flechas */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 60px; /* Cambia el tamaño de las flechas */
}

.swiper-button-next {
  background-image: url('/src/assets/next-arrow.png'); /* Ruta a tu imagen de flecha derecha */
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: 50px; /* Ajusta el tamaño según sea necesario */
}

.swiper-button-prev {
  background-image: url('/src/assets/prev-arrow.png'); /* Ruta a tu imagen de flecha izquierda */
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px; 
  height: 50px; 
}

.swiper-pagination-bullet {
  background: #ffffff; /* Cambia el color de los puntos */
  opacity: 1; 
}

.swiper-pagination-bullet-active {
  background: #574949; /* Cambia el color del punto activo */
}